*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

@font-face {
    font-family: "GOE415";
    src: url("../../fonts/GEO415K_0.TTF");
 }

 @font-face {
    font-family: 'Noto Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
}

::selection{
    color: #fff;
    background-color: #D60000;
}

::-webkit-scrollbar{
    width: 8px;
    background-color: rgb(226, 224, 224);
    
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #a50000;
    box-shadow: 0px 0px 3px grey;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 4000;
}

.loader img{
    animation: pop 2s infinite ease-in;
}

@keyframes pop{
    0%{
        transform: scale(.5);
    }

    50%{
        transform: scale(1);
    }

    100%{
        transform: scale(.5);
    }
}




.reg-cover1{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.412);
    width: 100%;
    height: 100vh;
    z-index: 2000;
}

.reg-cover1 div{
    text-align: center;
    padding: 7% 3%;
    width: 80%;
    background-color: #fff;
}

.reg-cover1 div img{
    padding-bottom: 10px;
}

.reg-cover1 div h2{
    padding-bottom: 10px;
}

.reg-cover1 div h3{
    padding-bottom: 30px;
}

.pay{
    padding: 12px 35px;
    font-size: 19px;
    border: none;
    background-color: #D60000;
    color: #fff;
    border-radius: 100px;
}

.header{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 90px;
    background-color: #D60000;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.59);
}

.logo-cont{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 30%;
    height: 100%;
    padding-left: 20px;
    /* background-color: grey; */
}

.logo-cont img{
    width: auto;
    height: 10vh;
} 

.header-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
}

.menu-cont{
    width: 100%;
}

.menu-con{
    display: flex;
    flex-flow: row nowrap;
    width: auto;
    height: auto;
    float: right;
}

.menu-con div{
    display: none;
    justify-content: center;
    margin: 0 2px;
    width: auto;
    height: auto;
}

.menu-con a{
    text-decoration: none;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    padding: 10px;
    /* /* font-size: 20px;  */
}

.menu-bar-cont{
    display: none;
    position: fixed;
    width: 100%;
    background-color: #ffff;
    z-index: 3000;
    box-shadow: 0 0 3px rgba(128, 128, 128, 0.378);
}

.show{
    display: block;
}

.menu-bar-cont div{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px 0;
}

.menu-bar-cont div a{
    color: #D60000;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
}

.menu-con a:hover{
    font-weight: bold;
    font-family: 'GOE415';
}

.main-cover{
    position:relative;
    width: 100%;
    height: 87vh;
}

.main{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #d6000079;
    text-align: center;
}

.main div{
    padding: 0 25%;
    width: auto;
    /* background-color: blue; */
}

.main div h1{
    color: #fff;
    font-family: 'GOE415';
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
    padding-bottom: 30px;
}

.main div p{
    color: #fff;
    font-size: 19px;
    font-family: 'Noto Sans', sans-serif;
}

.main div button{
    padding: 15px 30px;
    border:  none;
    border-radius: 100px;
    background-color: #D60000;
    color: #fff;
    font-size: 18px;
}

.pic{
    width: 55%;
    height: 100%;
    background-color: #fff;
}

.values h2{
    text-align: center;
    padding-top: 35px;
    font-family: 'GOE415';
}

.containing-div{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 60px;
    width: 100%;
    /* height: 600px; */
    /* background-color: aqua; */
    padding: 40px 15px 70px 15px;
}

.containing-div div{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px grey;
    /* background-color: blue; */
}

.containing-div div h2{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Noto Sans', sans-serif;
    color: #000000;
}

.containing-div div p{
    font-size: 17px;
    font-family: 'Noto Sans', sans-serif;
}

.testimonials-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 80vh; */
    padding: 100px 15px;
    background-color: #f0f0f0;
}

.testimonial{
    display: flex;
    flex-flow: column;
    width: auto;
    height: auto;
    background-color: #fff;
}

.test-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.test-txt{
    width: 100%;
    padding: 30px 15px 30px 15px;
}

.test{
    text-align: center;
    font-size: 19px;
    font-style: italic;
    font-family: 'Noto Sans', sans-serif;
}

.name{
    text-align: center;
    font-size: 19px;
    font-style: italic;   
    /* padding-top: 50px; */
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

.gallery{
    width: 100%;
    height: auto;
    padding: 50px 5%;
    background-color: #fff;
}

.gallery h2{
    text-align: center;
    padding: 30px 0;
    font-family: 'GOE415';
}

.gallery-cont{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 95%;
    margin-left: 2.5%;
    height: auto;
    /* background-color: rgb(67, 67, 119); */
}

.contact-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 100vh; */
    background-color: #F6F6F6;
}

.contact-cont{
    width: 90%;
    height: 80%;
}

.contact-cont h2{
    text-align: center;
    color: #2D2C2C;
    font-family: 'GOE415';
    padding-top: 50px;
    padding-bottom: 40px;
}

.form-type{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.form-type p{
    font-size: 18px;
}

.form-type p a{
    text-decoration: none;
    color: #D60000;
}

.form-type p a:hover{
    text-decoration: underline;
}

.org-form{
    width: 100%;
    display: block;
}

.dev-form{
    width: 100%;
    display: none;
}

.two-in{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: auto;
}

.half-in{
    width: 100%;
    height: 70px;
    margin-right: 4%;
    font-size: 18px;
    padding: 10px 20px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
    border: 1px solid #808080;
    border-radius: 6px;
    margin-bottom: 50px;
}

.full{
    width: 100%;
    height: 70px;
    margin-right: 4%;
    font-size: 18px;
    padding: 10px 20px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
    border: 1px solid #808080;
    border-radius: 6px;
    margin-bottom: 50px;
}

.half-in2{
    width: 100%;
    height: 70px;
    font-size: 18px;
    padding: 10px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #808080;
    margin-bottom: 50px;
}

.checker{
    margin-bottom: 30px;
}

.info{
    width: 100%;
    height: 200px;
    resize: none;
    background-color: transparent;
    border: 1px solid #808080;
    border-radius: 6px;
    margin-bottom: 50px;
    font-size: 18px;
    padding: 10px 20px;
}

.contact-btn{
    padding:10px 50px 12px 50px;
    margin: 0 0 50px 0;
    background-color: #D60000;
    border: none;
    color: #fff;
    font-size: 19px;
    border-radius: 10px;
}

.footer-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #01080e;
    padding-top: 50px;
}

.footer-cont{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    height: 70%;
    /* background-color: aqua; */
}

.footer-content{
    width: 100%;
    height: 100%;
    padding-left: 5%;
}

.text{
    color: #808080;
    font-family: 'Noto Sans', sans-serif;
}

.footer-content2{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    /* padding-right: 10px;*/ 
    padding-left: 5%;
    /* padding-top: 70px; */
}

.foot-title{
    text-align: left;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}

.footer-content2 a, .footer-content4 a{
    text-decoration: none;
    color: #808080;
}

.footer-content2 a:hover,.footer-content4 a:hover{
    text-decoration: underline;
}

.footer-content3{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    /* padding-right: 20px; */
    padding-left: 5%;
    padding-top: 50px;
    color: #808080;
}

.footer-content4{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    /* padding-right: 10px; */
    padding-left: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
}