*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

@font-face {
    font-family: 'noto';
    src: url('../../fonts/NotoSansJP-Regular.otf');
}

::selection{
    color: #fff;
    background-color: #D60000;
}

::-webkit-scrollbar{
    width: 8px;
    background-color: rgb(226, 224, 224);
    
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #a50000;
    box-shadow: 0px 0px 3px grey;
}


.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 4000;
}

.loader img{
    animation: pop 2s infinite ease-in;
}

@keyframes pop{
    0%{
        transform: scale(.5);
    }

    50%{
        transform: scale(1);
    }

    100%{
        transform: scale(.5);
    }
}





.reg-cover1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.412);
    width: 100%;
    height: 100vh;
    z-index: 2000;
}

.reg-cover1 div{
    text-align: center;
    padding: 60px 0;
    width: 80%;
    /* height: 80%; */
    background-color: #fff;
}

.reg-cover1 div img{
    padding: 10px 0;
}

.reg-cover1 div h2{
    padding-bottom: 10px;
    font-family: 'noto';
}

.reg-cover1 div h3{
    /* padding-bottom: 2px; */
    font-weight: lighter;
    font-size: 25px;
    font-family: 'noto';
}

.reg-cover1 div h3.home{
    padding-bottom: 30px;
    font-weight: lighter;
    font-size: 25px;
    font-family: 'noto';
}

.pay{
    padding: 12px 35px 16px 35px;
    font-size: 19px;
    border: none;
    background-color: #D60000;
    color: #fff;
    border-radius: 100px;
    font-family: 'noto';
}